
body {
  background-image: url('/src/images/dark-leaves.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.gate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gate-img {
  margin-left: 20%;
  height: 600px;
  border: .0px solid black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.hiding-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10%;
  margin-left: -70px;
}

.title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
  color: #fee6e3;
  font-family: 'Playfair Display', serif;
  width: 300px;
  text-shadow:1px 0 0 #111111,0 1px 0 #111111,-1px 0 0 #111111,0 -1px 0 #111111
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 30px;
  margin-top: 10px;
}

.dash {
  display: flex;
  align-items: center;
}

.enter-dash {
  align-items: center;
  margin-left: -75px;
  margin-right: -75px;
  margin-top: 200px;
  height: 150px;
  width: 300px;
  background-color: #fee6e3;
  border-radius: 200px / 100px;
  font-family: 'Italianno', cursive;
  font-size: 50px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.enter-dash:after {
  background-color: #111;
  border-radius: 200px / 100px;
  content: "";
  display: block;
  height: 150px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.enter-dash:hover:after {
  transform: translate(0, 0);
}

.enter-dash:active {
  background-color: #ffdeda;
  outline: 0;
}

.enter-dash:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .enter-dash {
    padding: 0 40px;
  }
}

.quick-booking-and-admin-access {
  display: flex;
  align-items: flex-start;
}

.booking-button,
.admin-button {
  background-color: #E5E5CA;
  border: .5px solid;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  margin: 10px;
}

.login-form {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

.user-sign-in-form {
  background: white;
  opacity: 0.5;
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,07);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
  
  p {
    font-family: 'Italianno', cursive;
    font-weight: 500;
    color: #111111;
    opacity: 1;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 40px;
  }

  input {
    background: #ffdeda;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.6);
    color: #111111;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    } 

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(5, 4, 4);
}


h3 {
  color: #E5E5CA;
  font-family: 'Italianno', cursive;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow:1px 0 0 #111111,0 1px 0 #111111,-1px 0 0 #111111,0 -1px 0 #111111
}

.calendar-submit {
  background: #ffdeda;
  font-family: 'Italianno', cursive;
  font-size: 24px;
  margin-left: 5px;
  padding: 3px;
  padding-right: 8px;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  width: 75px;
  transition: all .2s ease-in-out;
}

.calendar-submit:hover {
  transform: scale(1.1);
}

.booking-page {
  margin-left: 10px;
}

.rooms-and-details {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.rooms-icon {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 125px;
}

.room-font {
  color: #E5E5CA;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow:1px 0 0 #111111,0 1px 0 #111111,-1px 0 0 #111111,0 -1px 0 #111111;
}

.hotel-room1 {
  height: 125px
}

#error-message {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.guest-dashboard {
  display: flex;
  align-items: baseline;
  margin: 5px;
}

.welcome-and-total {
  margin-top: 100px;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  background-color: #fee6e3;
  opacity: .7;
  text-align: center;
}

.personal-welcome {
  font-family: 'Italianno', cursive;
  font-size: 50px;
}

h5 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.personal-total {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
}

.guest-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-room-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 100px;
}

.bookings-box {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  background-color: #111111;
  opacity: .7;
}

.hidden {
  display: none;
}
